*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  display: flex;
  height: inherit;
  min-width: 800px;
  background-color: #fec7ee;
}

.page::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.page__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  inset: 0;
}

.page__heading {
  margin: 0 auto;
  color: #000;
  font-size: 116px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  max-width: 740px;
  padding: 60px 0 0 2px;
  z-index: 1;
}

.page__heading::after {
  content: '*';
}

.page__heading:hover {
  color: #4c4c4c;
  cursor: default;
}

.page__heading:hover::before {
  content: 'На самом деле нет. \AВажнее &mdash; научиться ошибаться.';
  position: absolute;
  white-space: pre; 
  top: 180px;
  right: 20px;
  max-width: 750px;
  color: #000;
  background-color: #fff;
  font-size: 35px;
  line-height: 1;
  font-weight: normal;
  text-transform: initial;
  letter-spacing: normal;
  padding: 36px 44px;
  text-align: left;
  border:  2px solid #000;
  border-radius: 20px;
  box-shadow: 0 12px 0 #000 ;
}

